h1 {
  color:#003B36;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
}

h2 {
  color:#003B36;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
}

body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color:#73683B;
  line-height: 15px;
  text-align: center;
  background: rgb(231,231,175);
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #E0CA3C;
  font-weight: 400;
  font-size: px;
  line-height: 15px;
  display: inline-block;
  list-style: none;
}

li {
  display: inline;
  font-size: 20px;
  margin: 5px

}

.container {
    width: 700px;
    margin: 0 auto;
  }

.card {
  background-color: #f5f5f5;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%
}

.list-inline {
  list-style: none;
  padding: 0;
}

.btn-yellow {
  background-color: #E0CA3C;
  color: #808080;
  padding: 15px 20px;
  border-radius: 30px;
}

a:hover {
  background-color:#808080;
  color: #E0CA3C;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

